@import 'commons/_variables';
@import 'commons/_mixins';

// Common styles

* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  background-color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  @include flex;
}

.flexColumn {
  @include flexColumn;
}

.wh100 {
  @include wh(100%);
}

.wh50 {
  @include wh(50%);
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.defaultLink {
  @include links;
}

.fetchingDiv {
  @include wh(100%, 70px);
  @include flexColumn;
  max-width: 900px;
  justify-content: center;
  background: linear-gradient(-45deg, #e0e0e0, #a2a2a2, #cecece, #eeeeee);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  margin: 10px 0;
  border-radius: 100px;
  span {
    @include text(18px, 22px, $white, 400);
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

//Header Styles

.header {
  flex: 0 0 auto;
  &__wrapper {
    margin: 30px 0;

    &-block {
      margin: 0 auto;
      justify-content: flex-start;
    }

    span {
      @include text(20px, 25px, $black, normal);
      @include links;
      margin: 0 15px;
      @include wh(25px, 25px);
    }
    img {
      @include wh(25px, 25px);
    }

  }
  &__title {
    @include text(20px, 25px, $white, normal);
    text-align: center;
    background-color: $black;
    width: 200px;
    border-radius: 100px;
    padding: 10px 0;
  }
}

//Main Styles

.main {
  flex: 1 0 auto;
  &__wrapper {

  }
}

//Footer Styles

.footer {
  flex: 0 0 auto;
  &__wrapper {
    padding: 10px 0;
    width: 300px;
    margin: 30px auto;
    background-color: $black;
    border-radius: 100px;
  }
  &__title {
    @include text(20px, 25px, $white, normal);
    text-align: center;
  }
}



//HomePage Style

.homepage {
  &-head {
    justify-content: flex-start;
    margin-bottom: 25px;
    &__title {
      @include text(24px, 30px, $black, 600);
      margin-right: 10px;
    }
  }
  &-news {
    &_item {
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      div {
        margin-bottom: 5px;
        &:first-child {
          background-color: $lightGray;
          padding: 5px;
        }
      }
      &-title {
        @include text(18px, 22px, $black, 500);
        @include links(50%);
      }
      &-name, &-date, &-rating, &-comments {
        @include text(16px, 19px, $gray, normal);
        margin: 0 7px;
      }
      &-name {
        margin: 0 7px;
      }
    }
  }
}



//News Item Page Style

.newsItem {
  &__titleBlock {
    margin: 5px 10px;
    &-title {
      @include text(20px, 25px, $black, 500);
      margin: 0 5px;
      &:after {
        content: ' – ';
      }
    }
    &-link {
      @include text(20px, 25px, $gray, 400);
      @include links;
    }
  }
  &__descBlock {
    &-desc {
      @include text(18px, 22px, $gray, 400);
      margin: 0 7px;
    }
  }
  &__comments {
    margin: 30px 10px 10px;
    &-title {
      @include text(18px, 22px, $black, 500);
      margin: 0 5px 5px;
      border-bottom: 2px $black solid;
      padding-bottom: 3px;
    }
    &-block {
      max-width: 900px;
      text-align: left;
      align-items: flex-start;
      &_text {
        @include text(18px, 22px, $black, 400);
        padding: 5px 10px;
        i {
          font-style: italic;
        }
        pre {
          margin: 10px 0;
        }
        code {
          @include text(16px, 19px, $darkGray, 400);
          font-family: monospace;
        }
      }
      &_replies {
        @include text(18px, 22px, $white, 400);
        @include links;
        padding: 5px 15px;
        margin: 5px;
        background-color: $black;
        border-radius: 100px;
      }
      &_header {
        background-color: $lightGray;
        margin: 5px 0;
        padding: 5px 10px;
        span {
          @include text(18px, 22px, $darkGray, 400);
        }
      }
      &_kids {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
